body{
    font-family: 'Roboto', sans-serif;
    margin: 0;
    
}
section{
    margin-top: 100px;
    margin-bottom: 100px;
}
.orange-color{
    color: orange;
}
h1{
    font-size: 45px;
    color: rgb(65, 65, 65);
}
p{
    font-size: 16px;
    color: gray;
    text-align: justify;
    margin-bottom: 50px;
}
.disply-flex{
    display: flex;
    padding-left: 5%;
    padding-right: 5%;
}
.half-width{
    width: 50%;
    padding-left: 5%;
    padding-right: 2%;
}
.half-width img{
    width: 60%;
}
.half-width img.image-big {
    width: 100%;
}
.link-button{
    text-decoration: none;
    background-image: linear-gradient(orange, tomato);
    padding: 16px 40px;
    border-radius: 20px;
    color: white;
}
.about-me-bg{
    background-image: url(images/7.png);
    background-repeat: no-repeat;
    background-size: cover;
}
.text-align {
    text-align: center;
}
.text-align p{
    text-align: center;
    padding-left: 20%;
    padding-right: 20%;
}
.recipie-item{
    box-shadow: 10px 10px 50px grey;
    padding-left: 10px;
    padding-right: 10px;
    width: 33.5%;
    margin-right: 40px;
    border-radius: 20px;
}
.recipie-item img {
    width: 95%;
    padding: 15px 10px;
}
.number-border{
    display: flex;
    box-shadow: 10px 10px 50px grey;
    padding-left: 5%;
    padding-right: 5%;
    margin-left: 5%;
    margin-right: 8%;
    border-radius: 20px;
}
.number-item{
    width: 100%;
    margin-left: 10%;
}
footer{
    background: black;
    text-align: center;
    padding: 10px 0;
}
footer p{
    text-align: center;
        color: white;
}